# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
logs/
*.log

# Environment
.env

# IDEs and Editors
# VS Code
.vscode/
# JetBrains IDEs (e.g., IntelliJ, PyCharm)
.idea/
# Sublime Text
*.sublime-project
*.sublime-workspace
# Atom
*.atom/
# Emacs
*~
*.swp
