aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cssselect==1.2.0
cssutils==2.9.0
cycler==0.12.1
dnspython==2.6.1
email_validator==2.2.0
et-xmlfile==1.1.0
fastapi==0.111.0
fastapi-cli==0.0.4
Flask==3.0.1
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
flask-marshmallow==1.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.47.2
frozenlist==1.4.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.4
marshmallow==3.20.2
marshmallow-sqlalchemy==0.30.0
matplotlib==3.8.2
mdurl==0.1.2
msgpack==1.0.8
multidict==6.0.5
nba_api==1.4.1
nodeenv==1.9.1
numpy==1.26.4
openpyxl==3.1.2
orjson==3.10.5
packaging==24.1
pandas==2.2.1
pillow==10.2.0
pluggy==1.3.0
postman_api==3.0.0
premailer==3.10.0
psycopg2-binary==2.9.9
pyarrow==15.0.0
pydantic==2.7.4
pydantic-settings==2.3.4
pydantic_core==2.18.4
Pygments==2.18.0
PyJWT==2.8.0
PyMySQL==1.1.0
pynvim==0.5.0
pyparsing==3.1.1
pytest==7.4.4
pytest-asyncio==0.23.7
pytest-mock==3.14.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
rich==13.7.1
scikit-learn==1.4.0
scipy==1.12.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.25
starlette==0.37.2
threadpoolctl==3.2.0
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.9.0
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.0
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
websockets==12.0
Werkzeug==3.0.1
yagmail==0.15.293
yarl==1.9.4
